@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
}

$primary-color: #086677;
$secondary-color: #38618c;
$tertiary-color: #a13d63;
$pure-white: #ffffff;
$white: #ffffff;
$green: rgb(0, 128, 6);
$black: #12100e;
$border: #9b9494;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: solid 1px $black;
}

* {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-center;
  width: 100%;
  background: $primary-color;
}

main {
  @include flex-center;
}
