@import '../../../../styles/settings.scss';

.comment {
  padding-left: 15px !important;
  position: relative;
  &__author-infos {
    display: flex;
  }
  border: 2px solid rgb(209, 209, 209);
  border-radius: 0 30px 0 30px;
  padding: 10px 0;
  margin: 2px 0;
  background: rgb(255, 255, 255);
  color: $black;
  colo &__author-id {
    margin-right: 6px;
  }
  &__author-name {
    margin-right: 4px;
  }
  &__date {
    font-size: 11px;
  }
  &__message {
    font-size: 14px;
  }
}
